<h1>Edit</h1>

<form action="/recipes/<%= @recipe.id %>" method="post">

  <p><%= @recipe.name %></p>
  <p><%= @recipe.cook_time %></p>
  <p><%= @recipe.ingredients %></p>

  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Name:</label>
  <input id="name" type="text" name="recipe[name]" value="<%= @recipe.name %>" />

  <label for="cook_time">Cook Time:</label>
  <input id="cook_time" type="text" name="recipe[cook_time]" value="<%= @recipe.cook_time %>" />

  <label for="ingredients">Ingredients:</label>
  <input id="ingredients" type="text" name="recipe[ingredients]" value="<%= @recipe.ingredients %>" />

  <input type="submit" value="submit" />
</form>
